@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* header function */

.header {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  color: white;
}

.header-md {
  display: none;
  justify-content: space-between;
  background-color: teal;
  color: white;
}

.header-md a :hover {
  background-color: rgb(2, 86, 86);
  width: auto;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a :hover {
  background-color: rgb(2, 86, 86);
}

.menu {
  display: flex;
  width: 75%;
}

.hdr-btn {
  cursor: pointer;
  padding: 1rem;
  width: auto;
}

.m-hdr-btn {
  display: none;
  padding: 1em;
  width: auto;
}

.m-hdr-btn a {
  width: auto;
}

.show-menu {
  display: block;
  padding: 0px;
}

@media screen and (max-width: 760px) {
  .header {
    display: none;
  }
  .header-md {
    display: flex;
  }
  .header-md a {
    color: white;
    text-decoration: none;
  }
  .menu-md {
    width: 100%;
  }
  .cats {
    flex-direction: column;
    width: 100%;
  }

  .content {
    justify-content: center;
  }
  .cat-card {
    display: flex;
    justify-content: center;
  }
}

/* Page content */

.content {
  max-width: 100%;
  display: flex;
}

.loader {
  text-align: center;
}

.cats {
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cat-card {
  margin-left: 15px;
  margin-right: 15px;
}
.cat-card img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cat-title {
  color: white;
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(44, 168, 44);
  text-align: center;
  cursor: pointer;
}

.cat-title:hover {
  background-color: rgb(33, 125, 33);
}

.unlike {
  background-color: #cc0000;
}

.unlike:hover {
  background-color: #8e0808;
}

.loader h1 {
  padding-left: 10px;
}
